.home-button,
.fav-button {
	background-color: #009879;
	margin: 20px !important;

	height: 30px;
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.nav-div{
    margin-top: 30px;
}