select {
	width: 200px;
	height: 40px;
    border:none;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid black;
    
    background-color: #f3f3f3;
    color: #009879;
    margin-left: 10px;
}
label{
    font-size: 25px;
    color: #009879;
}

.button-pag{
    margin:10px;
    height: 45px;
    width: 110px;
}